.request {
    .val-items {
        gap: toVwVal(40px);
        .val-item {
            margin: toVw(40) 0 0 0;
            //width: calc((100% - 4.2vw) / 3);
            width: calc(33.33% - ((2.08333vw / 3) * 2));
            border: 1px solid #9C9C9C;
            border-radius: toVw(3);
            position: relative;
            display: block;
            //margin-right: toVw(40);
            .icon {
                position: absolute;
                right: toVw(10);
                fill: $blue;
            }
            &.w25{
                width: calc(25% - ((2.08333vw / 4) * 3));
                @include sm-block(){
                    width: calc(50% - ((2.08333vw / 2) * 1));
                }
                @include xxs-block {
                    width: 100%;
                }
            }
            &.w50{
                width: calc(50% - ((2.08333vw / 2) * 1));
                @include xxs-block {
                    width: 100%;
                }
            }
            &.w66 {
                //width: 66%;
                width: calc(66.66% - ((2.08333vw / 3) * 1));
                //margin-right: 0;
                @include sm-block(){
                    width: 100%;
                    height: auto;
                } 
            }
            &.w75{
                width: calc(75% - ((2.08333vw / 4) * 1));
                @include sm-block(){
                    width: 100%;
                }
            }
            &.w100 {
                width: 100%;
                //margin-right: 0;
            }
            //&:nth-child(3n) {
            //    margin-right: 0;
            //    @include md-block() {
            //        margin-right: toVw(40);
            //    }
            //}
            //@include sm-block() {
            //    width: calc((100% - 5vw) / 2);
            //}
            //@include xxs-block {
            //    width: 100%;
            //}
            @include sm-block() {
                width: calc(50% - ((2.08333vw / 2) * 1));
            }
            @include xxs-block {
                width: 100%;
                margin-top: toVw(25);
            }
            &:nth-child(2n) {
                @include sm-block(){
                    margin-right: 0;
                }
            }
            &.w66 {
                margin-right: 0;
            }
            .zag {
                position: absolute;
                background: transparent;
                z-index: 2;
                padding: 0 toVw(15);
                color: #C4C4C4;
                background-color: white;
                z-index: 5;
                font-size: toVw(14);
                left: toVw(15);
                top: toVw(-13);
            }  
            .value {
                padding:toVw(19) toVw(10) toVw(19) toVw(30);
                max-height: 100%;
                overflow: auto;
            }
            &.textarea {
                min-height: toVw(140);
                margin-bottom: toVw(40);
            }
            &__radio {
                display: flex;
                margin: toVw(40) 0 0 0 ;
                .zag {
                    font-size: toVw(14);
                }
                .val-radio {
                    margin-left: toVw(55);
                    display: flex;
                    align-items: center;
                    
                    .label-radio {
                        width: toVw(20);
                        height: toVw(20);
                        border-radius: 50%;
                        border: 1px solid $blue;
                    }
                    &.checked {
                        .label-radio {
                            position: relative;
                            &:before {
                                position: absolute;
                                content: '';
                                width: toVw(12);
                                height: toVw(12);
                                background-color: $blue;
                                top: toVw(3);
                                left: toVw(3);
                                border-radius: 50%;
                            }
                        }

                    }
                    span {
                        margin-right: toVw(15);
                        font-size: toVw(14);
                    }
                }
            }
            &.cur {
                display: flex;
                .value {
                    width: 70%;
                }
                .cur {
                    width: 30%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                
            }
            .separator {
                width: 1px;
                background-color: #EFEFEF;
                height: 66%;
                top: 17%;
                position: absolute;
                left: 70%;
            }
            
        }
        &-zag {
            font-weight: normal;
            font-size: toVw(16);
            text-transform: uppercase;
            color: #424242;
            margin-top: toVw(55);
        }
        &-information {
            display: flex;
            justify-content: space-between;
            margin-top: toVw(40);
            @include md-block(){
                flex-wrap: wrap;
            }
            .desc {
                width: 66%;
                @include sm-block(){
                    width: 100%;
                    margin-top: toVw(35);
                }
                .val-item {
                    width: calc((100% - 2.1vw) / 2);
                    @include md-block(){
                        width: calc((100% - 4.2vw) / 2);
                    }
                    @include sm-block(){
                        width: calc((100% - 5.2vw) / 2);
                    }
                    @include xxs-block(){
                        width: 100%;
                    }
                }
                .row:first-child {
                    .val-item {
                        margin-top: toVw(5);
                        @include xxs-block(){
                            margin-top: toVw(35);
                        }
                    }
                }
                .val-item {
                    margin-right: toVw(40);
                    &:last-child {
                        margin-right: 0;
                    }
                }
                
            }
        }
    }
    .documents{
        margin-bottom: toVw(40);
        &-zag {
            font-size: toVw(16);
            color: $black;
            margin: toVw(30) 0;
        }
        &-items {
            padding: toVw(15) 0 toVw(15) toVw(30);
            background-color: #E8F2F4;
            border-radius: 3px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            .documents-list {
                @include xxs-block(){
                    width: calc(100% - 20vw);
                }
                
            }
            .icon {
                fill: $blue;
                margin-right: toVw(30);
            }
            a {
                color: $blue;
                margin-right: toVw(30);
                font-size: toVw(14);
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
.request-img--anonymous {
    width: 30%;
    background-color: #E8F2F4;
    padding: toVw(22) toVw(80);
    text-align: center;
    @include sm-block(){
        width: 50%;
        margin: auto;
    }
    @include xxs-block(){
        width: 100%;
    }
    .text {
        font-size: toVw(12);
        color: #B4BBBC;
        line-height: 120%;
    }
    .icon {
        fill: #D8E1E3;
        width: toVw(126);
        height: toVw(126);
        margin: auto;
    }
}
