.lc-note(style="background-image: url(./img/content/lc-note.png); background-repeat: no-repeat")
    .zag Участие в аукционах
    p Для того, чтобы создавать и участвовать в аукционах, Вам необходимо заполнить данные о компании
