.sidebar
    .sidebar-logo
        a(href="#")
            img(src="./img/content/sidebar-logo.png")
    .sidebar-lc.js-sidebar-lc
    .sidebar-main-menu.js-mobile-maim-menu
    .sidebar-btn.js-sidebar-btn
    .sidebar-open-menu.js-open-menu 
        span Наши услуги
        +icon('arrow-drop')
    .sidebar-menu
        ul.sidebar-menu--list.js-sidebar-menu--list
            li.sidebar-menu-btn.js-close-sidebar-menuList
                +icon('arrow-drop')
                span Назад  
            li
                a(href="#") Артисты
            li
                a(href="#") Агенства
            li
                a(href="#") Аренда площадки
            li
                a(href="#") Визы
            li
                a(href="#").js-open-more.open-list-more Музыка
                .sidebar-menu--list-more.js-list-more
                    .sidebar-menu--list-btn.js-close-list-more
                        +icon('arrow-drop')
                        span Назад  
                    .list-more--zag Музыка
                    .list-more--items.js-scroll-more-items
                        .list-more--item 
                            .title А 
                            a(href="#").zag Агенства
                            a(href="#") Агентства по поиску и продвижению талантов
                            a(href="#") Букинг-агентство
                            a(href="#") Ивент агентство
                        .list-more--item 
                            .title М
                            a(href="#").zag Маркетинг
                            a(href="#") PR
                            a(href="#") Интернет
                            a(href="#") Наружная реклама
                            a(href="#") Радио
                            a(href="#") Размещение рекламы на ТВ
                            a(href="#") Разработка и производство материалов
                            a(href="#") Рекламное агентство
                        .list-more--item 
                            .title П
                            a(href="#").zag Персонал
                            a(href="#") Администрирование и делопроизводство
                            a(href="#") Актер
                            a(href="#") Бухгалтерские услуги
                            a(href="#") Видеооператор
                            a(href="#") Врач-фониатор
                            a(href="#") Декор и флористика
                            a(href="#") Звукорежиссер
                            a(href="#") Кейтеринг
                            a(href="#") Мастера красоты
                            a(href="#") Организация мероприятий
                            a(href="#") Охранные услуги
                        .list-more--item 
                            .title А 
                            a(href="#").zag Агенства
                            a(href="#") Агентства по поиску и продвижению талантов
                            a(href="#") Букинг-агентство
                            a(href="#") Ивент агентство
                        .list-more--item 
                            .title М
                            a(href="#").zag Маркетинг
                            a(href="#") PR
                            a(href="#") Интернет
                            a(href="#") Наружная реклама
                            a(href="#") Радио
                            a(href="#") Размещение рекламы на ТВ
                            a(href="#") Разработка и производство материалов
                            a(href="#") Рекламное агентство
                        .list-more--item 
                            .title П
                            a(href="#").zag Персонал
                            a(href="#") Администрирование и делопроизводство
                            a(href="#") Актер
                            a(href="#") Бухгалтерские услуги
                            a(href="#") Видеооператор
                            a(href="#") Врач-фониатор
                            a(href="#") Декор и флористика
                            a(href="#") Звукорежиссер
                            a(href="#") Кейтеринг
                            a(href="#") Мастера красоты
                            a(href="#") Организация мероприятий
                            a(href="#") Охранные услуги
                        .list-more--item 
                            .title А 
                            a(href="#").zag Агенства
                            a(href="#") Агентства по поиску и продвижению талантов
                            a(href="#") Букинг-агентство
                            a(href="#") Ивент агентство
                        .list-more--item 
                            .title М
                            a(href="#").zag Маркетинг
                            a(href="#") PR
                            a(href="#") Интернет
                            a(href="#") Наружная реклама
                            a(href="#") Радио
                            a(href="#") Размещение рекламы на ТВ
                            a(href="#") Разработка и производство материалов
                            a(href="#") Рекламное агентство
                        .list-more--item 
                            .title П
                            a(href="#").zag Персонал
                            a(href="#") Администрирование и делопроизводство
                            a(href="#") Актер
                            a(href="#") Бухгалтерские услуги
                            a(href="#") Видеооператор
                            a(href="#") Врач-фониатор
                            a(href="#") Декор и флористика
                            a(href="#") Звукорежиссер
                            a(href="#") Кейтеринг
                            a(href="#") Мастера красоты
                            a(href="#") Организация мероприятий
                            a(href="#") Охранные услуги
                        .list-more--item 
                            .title А 
                            a(href="#").zag Агенства
                            a(href="#") Агентства по поиску и продвижению талантов
                            a(href="#") Букинг-агентство
                            a(href="#") Ивент агентство
                        .list-more--item 
                            .title М
                            a(href="#").zag Маркетинг
                            a(href="#") PR
                            a(href="#") Интернет
                            a(href="#") Наружная реклама
                            a(href="#") Радио
                            a(href="#") Размещение рекламы на ТВ
                            a(href="#") Разработка и производство материалов
                            a(href="#") Рекламное агентство
                        .list-more--item 
                            .title П
                            a(href="#").zag Персонал
                            a(href="#") Администрирование и делопроизводство
                            a(href="#") Актер
                            a(href="#") Бухгалтерские услуги
                            a(href="#") Видеооператор
                            a(href="#") Врач-фониатор
                            a(href="#") Декор и флористика
                            a(href="#") Звукорежиссер
                            a(href="#") Кейтеринг
                            a(href="#") Мастера красоты
                            a(href="#") Организация мероприятий
                            a(href="#") Охранные услуги
                        .list-more--item 
                            .title А 
                            a(href="#").zag Агенства
                            a(href="#") Агентства по поиску и продвижению талантов
                            a(href="#") Букинг-агентство
                            a(href="#") Ивент агентство
                        .list-more--item 
                            .title М
                            a(href="#").zag Маркетинг
                            a(href="#") PR
                            a(href="#") Интернет
                            a(href="#") Наружная реклама
                            a(href="#") Радио
                            a(href="#") Размещение рекламы на ТВ
                            a(href="#") Разработка и производство материалов
                            a(href="#") Рекламное агентство
                        .list-more--item 
                            .title П
                            a(href="#").zag Персонал
                            a(href="#") Администрирование и делопроизводство
                            a(href="#") Актер
                            a(href="#") Бухгалтерские услуги
                            a(href="#") Видеооператор
                            a(href="#") Врач-фониатор
                            a(href="#") Декор и флористика
                            a(href="#") Звукорежиссер
                            a(href="#") Кейтеринг
                            a(href="#") Мастера красоты
                            a(href="#") Организация мероприятий
                            a(href="#") Охранные услуги


            li
                a(href="#") Кино
            li
                a(href="#") Грузоперевозки
            li
                a(href="#") Консалтинг
            li
                a(href="#") Маркетинг
            li
                a(href="#") Музыкальные лэйблы
            li
                a(href="#") Организация работы
            li
                a(href="#") Отели
            li
                a(href="#") Персонал
            li
                a(href="#") Питание
        ul.sidebar-menu--footer    
            li.add-service
                a(href="#")
                    +icon('plus')
                    span Добавить услугу
            li.footer
                span P2A 2020 Все права защищены
            li.footer
                span Разработка сайта - 
                    a.footer-link(href="https://www.medialine.by/" target="_blank") Медиа Лайн