include ../mixins
.calendar-popup
    .calendar-popup--wrp
        .calendar-popup--content
            .calendar
                .calendar-zag Календарь занятости
                .calendar-date
                    .js-datepicker(data-lang="ru")
                .calendar-time
                    .calendar-time__zag Время занятости артиста
                    .calendar-time__items
                        .calendar-time__val 
                            .value С 06:00
                            i.separator
                            .value До 12:00 
                        .calendar-time__val 
                            .value С 07:00
                            i.separator
                            .value До 13:00 
                        .calendar-time__val 
                            .value С 07:00
                            i.separator
                            .value До 13:00 
                        