include ../mixins
.calendar-popup
    .calendar-popup--wrp
        .calendar-popup--content
            .calendar
                .calendar-zag Календарь занятости
                .calendar-date
                    .js-datepicker(data-lang="ru")
                .calendar-time
                    .calendar-time__message 
                        .zag Актер занят весь день
                        span В этот день у актера нет свободного времени. Попробуйде выбрать другой день в календаре
                    