extends ../layout/main

block variables
    - var title = 'Каталог заявок';

block libs-css
    link(rel="stylesheet" type='text/css' href="./libs/jquery.mCustomScrollbar.css")
    link(rel="stylesheet" type='text/css' href="./libs/jquery-ui-1.9.2.custom.min.css")
block libs-js
    script(src="./libs/jquery.mCustomScrollbar.concat.min.js")
    script(src="./libs/jquery-ui-1.9.2.custom.min.js")
    script(src="./js/form.js")
    script(src="./js/lc-artist.js")
    script(src="./js/fv.js")

block content
    include ../modules/header
    include ../modules/sidebar
    main
        .page-head
            .container
                .page-head__wrp
                    include ../modules/breadcrumbs
                    h1= title
        .catalog 
            .container 
                form.filter
                    +selectDoc('Направление', 'Артист') 
                    +select('Категория', 'Выступление') 
                    +select('Тип', 'Тур') 
                    +inputDate('Дата')
                    +select('Регион', 'Минская область') 
                    +select('Страна', 'Беларусь') 
                    +select('Город', 'Минск') 
                    +inputPrice('Цена')
                    a(href="#").clear-filter Очистить фильтр
                .artists-items
                    .artist-item
                        .artist-img 
                            a(href="#").img
                                .img-wrp(style="background-image: url('./img/content/artist-photo1.png')")
                            a(href="calendar.html").calendar.js-ajax-popup
                                +icon('Calendar')
                        .artist-content 
                            a.artist-btn(href="#")
                                +icon('artist-btn-arrow')
                            .artist-content__zag Beyonce 
                            .artist-content__item 
                                span.zag Регион: 
                                span.val Минская 
                            .artist-content__item 
                                span.zag Страна: 
                                span.val Беларусь
                            .artist-content__item 
                                span.zag Город: 
                                span.val Минск
                            .artist-content__item 
                                span.zag Жанр: 
                                span.val Поп
                            a(href="#").btn.btn-blue Отправить предложение 
                    .artist-item
                        .artist-img 
                            a(href="#").img
                                .img-wrp(style="background-image: url('./img/content/artist-photo2.png')")
                            a(href="calendar.html").calendar.js-ajax-popup
                                +icon('Calendar')
                        .artist-content 
                            a.artist-btn(href="#")
                                +icon('artist-btn-arrow')
                            .artist-content__zag Linkin Park
                            .artist-content__item 
                                span.zag Регион:
                                span.val Минская 
                            .artist-content__item 
                                span.zag Страна:
                                span.val Беларусь
                            .artist-content__item 
                                span.zag Город:
                                span.val Минск
                            .artist-content__item 
                                span.zag Жанр:
                                span.val Поп
                            a(href="#").btn.btn-blue Отправить предложение 
                    .artist-item
                        .artist-img 
                            a(href="#").img
                                .img-wrp(style="background-image: url('./img/content/artist-photo3.png')")
                            a(href="calendar.html").calendar.js-ajax-popup
                                +icon('Calendar')
                        .artist-content 
                            a.artist-btn(href="#")
                                +icon('artist-btn-arrow')
                            .artist-content__zag Three Days Greys 
                            .artist-content__item 
                                span.zag Регион:
                                span.val Минская 
                            .artist-content__item 
                                span.zag Страна:
                                span.val Беларусь
                            .artist-content__item 
                                span.zag Город:
                                span.val Минск
                            .artist-content__item 
                                span.zag Жанр:
                                span.val Поп
                            a(href="#").btn.btn-blue Отправить предложение 
                    .artist-item
                        .artist-img 
                            a(href="#").img
                                .img-wrp(style="background-image: url('./img/content/artist-photo1.png')")
                            a(href="calendar.html").calendar.js-ajax-popup
                                +icon('Calendar')
                        .artist-content 
                            a.artist-btn(href="#")
                                +icon('artist-btn-arrow')
                            .artist-content__zag Beyonce 
                            .artist-content__item 
                                span.zag Регион: 
                                span.val Минская 
                            .artist-content__item 
                                span.zag Страна: 
                                span.val Беларусь
                            .artist-content__item 
                                span.zag Город: 
                                span.val Минск
                            .artist-content__item 
                                span.zag Жанр: 
                                span.val Поп
                            a(href="#").btn.btn-blue Отправить предложение 
                    .artist-item
                        .artist-img 
                            a(href="#").img
                                .img-wrp(style="background-image: url('./img/content/artist-photo2.png')")
                            a(href="calendar.html").calendar.js-ajax-popup
                                +icon('Calendar')
                        .artist-content 
                            a.artist-btn(href="#")
                                +icon('artist-btn-arrow')
                            .artist-content__zag Linkin Park
                            .artist-content__item 
                                span.zag Регион:
                                span.val Минская 
                            .artist-content__item 
                                span.zag Страна:
                                span.val Беларусь
                            .artist-content__item 
                                span.zag Город:
                                span.val Минск
                            .artist-content__item 
                                span.zag Жанр:
                                span.val Поп
                            a(href="#").btn.btn-blue Отправить предложение 
                    .artist-item
                        .artist-img 
                            a(href="#").img
                                .img-wrp(style="background-image: url('./img/content/artist-photo3.png')")
                            a(href="calendar.html").calendar.js-ajax-popup
                                +icon('Calendar')
                        .artist-content 
                            a.artist-btn(href="#")
                                +icon('artist-btn-arrow')
                            .artist-content__zag Three Days Greys 
                            .artist-content__item 
                                span.zag Регион:
                                span.val Минская 
                            .artist-content__item 
                                span.zag Страна:
                                span.val Беларусь
                            .artist-content__item 
                                span.zag Город:
                                span.val Минск
                            .artist-content__item 
                                span.zag Жанр:
                                span.val Поп
                            a(href="#").btn.btn-blue Отправить предложение 
                    .artist-item
                        .artist-img 
                            a(href="#").img
                                .img-wrp(style="background-image: url('./img/content/artist-photo1.png')")
                            a(href="calendar.html").calendar.js-ajax-popup
                                +icon('Calendar')
                        .artist-content 
                            a.artist-btn(href="#")
                                +icon('artist-btn-arrow')
                            .artist-content__zag Beyonce 
                            .artist-content__item 
                                span.zag Регион: 
                                span.val Минская 
                            .artist-content__item 
                                span.zag Страна: 
                                span.val Беларусь
                            .artist-content__item 
                                span.zag Город: 
                                span.val Минск
                            .artist-content__item 
                                span.zag Жанр: 
                                span.val Поп
                            a(href="#").btn.btn-blue Отправить предложение 
                    .artist-item
                        .artist-img 
                            a(href="#").img
                                .img-wrp(style="background-image: url('./img/content/artist-photo2.png')")
                            a(href="calendar.html").calendar.js-ajax-popup
                                +icon('Calendar')
                        .artist-content 
                            a.artist-btn(href="#")
                                +icon('artist-btn-arrow')
                            .artist-content__zag Linkin Park
                            .artist-content__item 
                                span.zag Регион:
                                span.val Минская 
                            .artist-content__item 
                                span.zag Страна:
                                span.val Беларусь
                            .artist-content__item 
                                span.zag Город:
                                span.val Минск
                            .artist-content__item 
                                span.zag Жанр:
                                span.val Поп
                            a(href="#").btn.btn-blue Отправить предложение 
                    .artist-item
                        .artist-img 
                            a(href="#").img
                                .img-wrp(style="background-image: url('./img/content/artist-photo3.png')")
                            a(href="calendar.html").calendar.js-ajax-popup
                                +icon('Calendar')
                        .artist-content 
                            a.artist-btn(href="#")
                                +icon('artist-btn-arrow')
                            .artist-content__zag Three Days Greys 
                            .artist-content__item 
                                span.zag Регион:
                                span.val Минская 
                            .artist-content__item 
                                span.zag Страна:
                                span.val Беларусь
                            .artist-content__item 
                                span.zag Город:
                                span.val Минск
                            .artist-content__item 
                                span.zag Жанр:
                                span.val Поп
                            a(href="#").btn.btn-blue Отправить предложение 
                    .artist-item
                        .artist-img 
                            a(href="#").img
                                .img-wrp(style="background-image: url('./img/content/artist-photo1.png')")
                            a(href="calendar.html").calendar.js-ajax-popup
                                +icon('Calendar')
                        .artist-content 
                            a.artist-btn(href="#")
                                +icon('artist-btn-arrow')
                            .artist-content__zag Beyonce 
                            .artist-content__item 
                                span.zag Регион: 
                                span.val Минская 
                            .artist-content__item 
                                span.zag Страна: 
                                span.val Беларусь
                            .artist-content__item 
                                span.zag Город: 
                                span.val Минск
                            .artist-content__item 
                                span.zag Жанр: 
                                span.val Поп
                            a(href="#").btn.btn-blue Отправить предложение 
                    .artist-item
                        .artist-img 
                            a(href="#").img
                                .img-wrp(style="background-image: url('./img/content/artist-photo2.png')")
                            a(href="calendar.html").calendar.js-ajax-popup
                                +icon('Calendar')
                        .artist-content 
                            a.artist-btn(href="#")
                                +icon('artist-btn-arrow')
                            .artist-content__zag Linkin Park
                            .artist-content__item 
                                span.zag Регион:
                                span.val Минская 
                            .artist-content__item 
                                span.zag Страна:
                                span.val Беларусь
                            .artist-content__item 
                                span.zag Город:
                                span.val Минск
                            .artist-content__item 
                                span.zag Жанр:
                                span.val Поп
                            a(href="#").btn.btn-blue Отправить предложение 
                    .artist-item
                        .artist-img 
                            a(href="#").img
                                .img-wrp(style="background-image: url('./img/content/artist-photo3.png')")
                            a(href="calendar.html").calendar.js-ajax-popup
                                +icon('Calendar')
                        .artist-content 
                            a.artist-btn(href="#")
                                +icon('artist-btn-arrow')
                            .artist-content__zag Three Days Greys 
                            .artist-content__item 
                                span.zag Регион:
                                span.val Минская 
                            .artist-content__item 
                                span.zag Страна:
                                span.val Беларусь
                            .artist-content__item 
                                span.zag Город:
                                span.val Минск
                            .artist-content__item 
                                span.zag Жанр:
                                span.val Поп
                            a(href="#").btn.btn-blue Отправить предложение 
                include ../modules/pagination