include ../mixins
.form-popup
    .form-popup--wrp
        .form-popup--content
            .form-popup--zag
                span Регистрация
            p Благодарим за регистрацию! Ваш логин и пароль были отправлены на электронную почту.
            p Пожалуйста, проверьте папку «Спам», если не получите письмо в течение 10 минут.
            +btnArrow('Закончить регистрацию')