include ../mixins
.form-popup
    .form-popup--wrp
        .form-popup__content
            .form-popup--zag
                span Внимание!
            span.text Чтобы продолжить дальше, Вам следует  авторизироваться
            +btnArrow('Получить доступ')
            a.ajax-form.link(href="form-enter.html") Войти