extends ../layout/main

block variables
    - var title = 'Личный кабинет';

block libs-css
    link(rel="stylesheet" type='text/css' href="./libs/jquery.mCustomScrollbar.css")
    link(rel="stylesheet" type='text/css' href="./libs/jquery-ui-1.9.2.custom.min.css")
    link(rel="stylesheet" type='text/css' href="./libs/multiple-select.min.css")
block libs-js
    script(src="./libs/jquery.mCustomScrollbar.concat.min.js")
    script(src="./libs/jquery-ui-1.9.2.custom.min.js")
    script(src="./libs/multiple-select.js")
    script(src="./js/fv.js")
    script(src="./js/form.js")
    script(src="./js/lc-artist.js")
    script(src="./js/profile.js")

block content
    include ../modules/header
    include ../modules/sidebar
    main
        .page-head
            .container
                .page-head__wrp
                    include ../modules/breadcrumbs
                    h1= title
        .lc 
            .container 
                .lc-tab.js-lc-tab 
                    .lc-tab__head
                        a.lc-tab__head-el.active(href="#")
                            span Мои данные
                        a.lc-tab__head-el(href="#")
                            span Заявки
                        a.lc-tab__head-el(href="#")
                            span Аукционы
                    .lc-tab__body.js-lc-tab__body
                        .lc-tab__body-el
                            .lc-tab.js-lc-tab
                                .lc-tab__head.lc-tab__head--mydata
                                    a.lc-tab__head-el.active(href="#")
                                        span Персональные данные
                                    a.lc-tab__head-el(href="#")
                                        span Данные о компании
                                    a.lc-tab__head-el(href="#")
                                        span Календарь занятости
                                .lc-tab__body.js-lc-tab__body
                                    .lc-tab__body-el
                                        .form-container 
                                            form.lc-form
                                                .lc-tab-zag Персональные данные артиста
                                                .row.--photo
                                                    +addPhoto2()
                                                    .lc-info 
                                                        .row 
                                                            +inputTextReq('ФИО', 'Например: Дроздов Николай Артемович')
                                                        .row 
                                                            +selectReq('Страна', 'Беларусь')
                                                            +selectReq('Город', 'Минск')
                                                .border      
                                                .form-group(data-aos="fade-down")
                                                    .form-group-items
                                                        +select-mult66Req('Сфера деятельности')
                                                .form-group(data-aos="fade-down")
                                                    .form-group-items
                                                        +radioCost('Указать стоимость услуги', 'cost')
                                                .lc-form--cost.js-lc-cost
                                                    .form-group
                                                        .form-group-zag Продюсирование
                                                        .form-group-items
                                                            +inputText('Стоимость услуги', 'Например: 900 BYN')
                                                            +addDocument33('Тарифы на услуги')
                                                    .form-group
                                                        .form-group-zag Продакшн
                                                        .form-group-items
                                                            +inputText('Стоимость услуги', 'Например: 1000 BYN')
                                                            +addDocument33('Тарифы на услуги')
                                                    .form-group
                                                        .form-group-zag Аренда площаки
                                                        .form-group-items
                                                            +inputText('Стоимость услуги', 'Например: 900 BYN')
                                                            +addDocument33('Тарифы на услуги')
                                                    .form-group
                                                        .form-group-zag Отели
                                                        .form-group-items 
                                                            +inputText('Стоимость услуги', 'Например: 900 BYN')
                                                            +addDocument33('Тарифы на услуги')
                                                    .form-group
                                                        .form-group-zag Грузоперевозки
                                                        .form-group-items 
                                                            +inputText('Стоимость услуги', 'Например: 900 BYN')
                                                            +addDocument33('Тарифы на услуги')
                                                    .form-group
                                                        .form-group-zag Транспорт
                                                        .form-group-items 
                                                            +inputText('Стоимость услуги', 'Например: 900 BYN')
                                                            +addDocument33('Тарифы на услуги')
                                                            .border
                                                            +check('Показать мои личные данные получателю заявки')
                                                            +btnBlue('Сохранить данные')
                                                .border 
                                                .form-group(data-aos="fade-down")
                                                    .form-group-items   
                                                        +selectReq('Тип лица', 'Юридическое лицо') 
                                                        +selectReq('Форма собственности', 'ИП') 
                                                        +inputEmailReq('Email', 'Например: info@mail.ru')
                                                        +inputTelReq()
                                                        +selectReq('Пол', 'Мужской') 
                                                        +inputText('Возраст', 'Например: 45')
                                                        +selectReq('Образование', 'Высшее')
                                                        +select('Профессия', 'Высшее')
                                                        +selectReq('Желаемый тип занятости', 'Полный день')
                                                        +selectReq('График работы', 'Сменный')
                                                        +inputTextReq('Опыт работы', 'Например: 10 лет')
                                                        +addDocument('Портфолио/резюме')
                                                        +btnBlue('Сохранить данные')
                                                        +btnBorder('Отменить редактирование')  
                                    
                                    
                                    
                                    .lc-tab__body-el
                                        .form-container 
                                            form.lc-form
                                                .lc-tab-head
                                                    .lc-tab-zag Персональные данные компании
                                                    +btnAdd('Добавить новую компанию')
                                                .form-group(data-aos="fade-down")
                                                    .form-group-items
                                                        .row 
                                                            +selectReq('Страна', 'Россия')
                                                            +inputTextReq('Наименование', 'ОАО “ТимЛайн”')
                                                        .row 
                                                            +selectReq('Тип лица', 'Юридическое лицо')
                                                            +selectReq('Форма собственности', 'ИП')
                                                        .row 
                                                            +inputTextReq('ФИО представителя', 'Например: Пономаренко Николай Сергеевич')
                                                            +inputTelReq()
                                                        .row 
                                                            +inputTextReq('Адрес регистрации', 'Например: ул. Независимости 39')
                                                            +inputTextReq('Почтовый адрес', 'Например: ул. Независимости 39')
                                                        .row 
                                                            +inputTextReq('Номер свидетельства о регистрации', 'Например: №3689')
                                                            +inputDateReq('Дата свидетельства о регистрации')
                                                .form-group(data-aos="fade-down")
                                                    .form-group-zag Налоговая информация
                                                    .form-group-items
                                                        .row
                                                            +inputTextReq('ОГРНИП', 'С ГГ КК ХХХХХХХХХ Ч')
                                                            +inputTextReq('ИНН', 'Например: 3664069397')
                                                        .row
                                                            +inputTextReq('КПП', 'Например: 569847889')
                                                            +inputTextReq('ОКПО', 'Например: 36356869')
                                                .form-group(data-aos="fade-down")
                                                    .form-group-zag Банковская информация
                                                    .form-group-items
                                                        +inputTextReq('Наименование банка', 'Например: Альфа-банк')
                                                        +inputTextReq('Адрес банка', 'Например: пр-т Независимости 35')
                                                        +inputTextReq('Номер счета', 'Например: пр-т Независимости 35 ')
                                                        +selectReq('Валюта счета', 'BYN')
                                                        +inputTextReq('SWIF', 'AKBBBY2X')
                                                        +inputTextReq('BIC', 'Например: 044525225')
                                                        +inputTextReq('Наименование банка корреспондента', 'Например: Белгазпромбанк')
                                                        +inputTextReq('BIC код банка корреспондента', 'Например: 044525225')
                                                        +inputTextReq('Номер счета банка корреспондента', 'Например: 0835-0902029-13-010')
                                                .border
                                                .form-group(data-aos="fade-down")
                                                    .form-group-zag Копии документов
                                                    .form-group-items
                                                        +addDocument('Копии документов')
                                                        .row 
                                                            +addPhoto()
                                                .row
                                                    +btnBlue('Сохранить данные')
                                                    +btnBorder('Отменить редактирование')
                                    .lc-tab__body-el
                                        .calendar
                                            .calendar-zag Календарь занятости
                                            .calendar-date
                                                .js-datepicker(data-lang="ru")
                                            .calendar-time
                                                .calendar-time__zag Выберите время Вашей занятости
                                                .calendar-time__items 
                                                    .form-item.time-double.mask-input-control
                                                        input(type='text' data-placeholder='__ : __' placeholder='С 06:00' data-mask="99 : 99")
                                                        i.separator
                                                        input(type='text' data-placeholder='__ : __' placeholder='До 12:00' data-mask="99 : 99")
                                                    .form-item.time-double.mask-input-control
                                                        input(type='text' data-placeholder='__ : __' placeholder='С 06:00' data-mask="99 : 99")
                                                        i.separator
                                                        input(type='text' data-placeholder='__ : __' placeholder='До 12:00' data-mask="99 : 99")
                                                    button.btn.btn-add(type="button")
                                                        +icon('plus')
                                                +check('Занят весь день')
                                                .row 
                                                    +btnBlue('Сохранить')
                                                    +btnBorder('Очистить')
                                            .calendar-footer
                                                +check('Занят весь день')
                                                .row 
                                                    +btnBlue('Сохранить')
                                                    +btnBorder('Очистить')                                            
                        .lc-tab__body-el
                        .lc-tab__body-el

