extends ../layout/main

block variables
    - var title = 'Создание аукциона';

block libs-css
    link(rel="stylesheet" type='text/css' href="./libs/jquery.mCustomScrollbar.css")
    link(rel="stylesheet" type='text/css' href="./libs/jquery-ui-1.9.2.custom.min.css")
    link(rel="stylesheet" type='text/css' href="./libs/multiple-select.min.css")
block libs-js
    script(src="./libs/jquery.mCustomScrollbar.concat.min.js")
    script(src="./libs/jquery-ui-1.9.2.custom.min.js")
    script(src="./libs/multiple-select.js")
    script(src="./js/fv.js")
    script(src="./js/form.js")

block content
    include ../modules/header
    include ../modules/sidebar
    main
        .page-head
            .container
                .page-head__wrp
                    include ../modules/breadcrumbs
                    h1= title
        .request 
            .container 
                .form-container 
                    form.request-form
                        .form-group(data-aos="fade-down")
                            .form-group-zag Общие сведения
                            .form-group-items
                                .row
                                    +selectReq('Место отправления', 'Минск')
                                    +selectReq('Место прибытия', 'Минск')
                                .row
                                    +inputDateReq('Дата отправления', '28.10.2020')
                                    +inputDateReq('Дата отправлени обратно', '28.10.2020')
                                .row
                                    +inputTextReq('Количество человек', 'Например: 3')
                                    +selectReq('С водителем', 'Да')
                        .form-group(data-aos="fade-down")
                            .form-group-zag Сведения о транспорте
                            .form-group-items
                                +select('Марка авто', 'BMW')
                                +select('Количество мест', '4')
                                +select('Год выпуска', '2005')
                                +select('Наличие wi-fi', 'Да')
                                +select('Наличие розеток', 'Да')
                                +select('Наличие TV/DVD', 'Да')
                                +select('Вентиляция сидений', 'Да')
                                +select('Спальный режим', 'Да')
                                +select('Подогрев напитков', 'Да')
                                +select('Охдаждение напитков', 'Да')
                                +select('USB-разъем', 'Да')
                                +selectReq('Тип оплаты', 'Данковская крта')
                        .form-group(data-aos="fade-down")
                            .form-group-zag Правила торгов
                            .form-group-items
                                +selectReq('Тип торгов', 'На повышение')
                                +selectReq('Начальная цена лотов', '100')
                                +selectReq('Валюта торгов', 'USD')
                                +selectReq('Вид шага торгов', 'В процентах')
                                +selectReq('Шаг торгов', '5%')
                        .form-group(data-aos="fade-down")
                            .form-group-zag Порядок проведения аукционов
                            .form-group__item-zag Прием заявок
                            .form-group-items
                                .row
                                    +inputDateReq('Дата начала приема заявок', '28.10.2020')
                                    +inputDateReq('Дата окончания приема заявок', '28.10.2020')
                                .row
                                    +inputTimeReq('Время начала приема заявок')
                                    +inputTimeReq('Время окончания приема заявок')
                            .border
                            .form-group__item-zag Аукцион
                            .form-group-items
                                .row
                                    +inputDateReq('Дата начала аукциона', '28.10.2020')
                                    +inputDateReq('Дата окончания аукциона', '28.10.2020')
                                .row
                                    +inputTimeReq('Время начала торгов')
                                    +inputTimeReq('Время окончания торгов')
                            .border
                        .form-group(data-aos="fade-down")
                            .form-group__item-zag Копии документов
                            .form-group-items
                                +addDocument('Копии документов')
                        +btnBlue('Отправить на модерацию')