include ../mixins
.form-popup.form-popup_apply
    .form-popup__container
        .form-popup__zag
            h1 Оплата
            .row Для получения лота необходимо внести оплату
        .hr
        .form-popup__form
            form
                .form-group
                    .form-group-items
                        +inputText('Сумма платежа', 'Например: 10 000 BYN')
                        +inputText('Получатель платежа', 'Например: Power2Artist')
                        +inputText('Назначение платежа', 'Например: Задаток по лоту №1568')
                        +inputText('Счет получателя', 'Например: BY60BLBB3012019102139000')
                        +inputText('УНП получателя', 'Например: 191021390')
                        +inputText('Банк-получатель', 'Например: ОАО “Альфабанк”')
                        +inputText('Код банка(BIC)', 'Например: AKBBY21215')
                        +inputText('ФИО плательщика', 'Например: Иванов Иван')
                +btnBlue('Распечатать счет')
                .hr
                .form-popup__zag-2 Доступные способы оплаты:
                .form-popup__block.form-popup_apply__small-half
                    .form-popup__block.form-popup_apply-checkbox
                        label
                            input(type="checkbox")
                            .btn-blue
                                img(src="./img/content/webpay.png" alt="")
                            div
                                span.zag
                                    b Система Webpay
                                span Платеж банковской платежной картой через систему Webpay
                .form-popup__block.form-popup_apply__big-half
                    .form-popup__container
                        .content
                            p Безопасный сервер WEBPAY устанавливает шифрованное соединение по защищенному протоколу TLS и конфиденциально принимает от клиента данные его платёжной карты (номер карты, имя держателя, дату окончания действия, и контрольный номер банковской карточке CVC/CVC2).
                            p После совершения оплаты с использованием банковской карты необходимо сохранять полученные карт-чеки (подтверждения об оплате) для сверки с выпиской из карт-счёта (с целью подтверждения совершённых операций в случае возникновения спорных ситуаций). В случае, если Вы не получили заказ (не оказана услуга), Вам необходимо обратиться (в службу технической поддержки) по телефонам_______ или e-mail ________. 
                            p Менеджеры Вас проконсультируют.
                            p При оплате банковской платежной картой возврат денежных средств осуществляется на карточку, с которой была произведена оплата.
                .hr
                .form-popup__block.form-popup_apply-full.form-item-check 
                    label
                        input(type="checkbox" class="styler required--check")
                        span Я подтверждаю, что не имею препятствий в участии в аукционе, установленных законодательством и (или) Регламентом площадки и (или) условиями аукциона, а также ознакомлен с предметом аукциона на местности, в том числе с его физическим, техническим и юридическим состоянием, комплектацией и документацией на него и мне была предоставлена полная возможность обследования предмета аукциона. Условия продажи предмета аукциона, порядок проведения аукциона, порядок возмещения затрат и оплаты вознаграждения организатору торгов мне понятны, и я согласен на таких условиях участвовать в аукционе.
                .form-popup__block.form-popup_apply-full
                    +btnBlue('Подтвердить оплату')