extends ../layout/main

block variables
    - var title = 'Регламент';

block libs-css
    link(rel="stylesheet" type='text/css' href="./libs/jquery.mCustomScrollbar.css")
    link(rel="stylesheet" type='text/css' href="./libs/jquery-ui-1.9.2.custom.min.css")
    link(rel="stylesheet" type='text/css' href="./libs/flipclock.css")
block libs-js
    script(src="./libs/jquery.mCustomScrollbar.concat.min.js")
    script(src="./libs/jquery-ui-1.9.2.custom.min.js")
    script(src="./libs/flipclock.min.js")
    script(src="./js/fv.js")

block content
    include ../modules/header
    include ../modules/sidebar
    main
        .page-head
            .container
                .page-head__wrp
                    include ../modules/breadcrumbs
                    h1= title
        .container
            .reglament 
                .reglament__container
                    .reglament-select 
                        +select('Ваша страна', 'Россия')
                    .js-reglament-download-mob
                    .reglament-list
                        .reglament-list__item 
                            .zag Введение
                            .val    
                                p Утвержден и введен в действие приказом директора Общества с ограниченной ответственностью «Power2Artist» от «03» мая 2017 г. № 12-о. Изменения и(или) дополнения вносились: 11.06.2018 (приказ от «11» июня 2018 г. № 9-о)
                                p Утвержден и введен в действие приказом директора Общества с ограниченной ответственностью «Power2Artist» от «03» мая 2017 г. № 12-о. Изменения и(или) дополнения вносились: 11.06.2018 (приказ от «11» июня 2018 г. № 9-о)
                        .reglament-list__item#1
                            .zag Раздел 1. Область применения регламента 
                            .val 
                                ol  
                                    li 
                                        b 1.1. 
                                        | Настоящий Регламент определяет процедуру проведения аукционов на электронной торговой площадке «ИПМ-торги» (далее - ЭТП).
                                    li 
                                        b 1.2. 
                                        | Регламент ЭТП разработан ООО «ИПМ-Консалт оценка» в соответствии с Гражданским кодексом Республики Беларусь от 07.12.1998 № 218-З; Указом Президента Республики Беларусь от 05.05.2009 № 232 «О некоторых вопросах проведения аукционов (конкурсов)».
                                    li 
                                        b 1.3. 
                                        | Настоящий Регламент является договором присоединения согласно ст. 398 ГК. Пользователь ЭТП с момента отправки соответствующей электронной формы посредством сайта ЭТП присоединяется к предложенному оператором ЭТП порядку проведения аукционов на ЭТП в целом (без оговорок и дополнений).
                                    li 
                                        b 1.4. 
                                        | Действие настоящего Регламента является обязательным к применению оператором ЭТП и пользователями ЭТП.
                                    li 
                                        b 1.5. 
                                        | В случае внесений изменений и дополнений в настоящий Регламент, действие указанных изменений является обязательным для оператора ЭТП, пользователей ЭТП с момента публикации новой редакции Регламента на сайте электронной торговой площадки, если иной срок вступления в силу изменений не установлен законодательством, в соответствии с которым вносятся изменения в Регламент.
                        .hr
                        .reglament-list__item#2 
                            .zag Раздел 2. Термины и определения
                            .val 
                                p В настоящем Регламенте используются следующие термины и определения:
                                ol 
                                    li 
                                        b 2.1. 
                                        | Аккредитация на электронной торговой площадке — предоставление оператором электронной торговой площадки организаторам и участникам аукционов прав доступа на электронную торговую площадку для целей организации и проведения аукционов или участия в них;
                                    li 
                                        b 2.2. 
                                        | Аукцион — процедура продажи имущества, имущественных прав на торгах, проводимых в электронной форме на электронной торговой площадке в порядке, определенном законодательством и настоящим Регламентом;
                                    li 
                                        b 2.3. 
                                        | Аукционная комната — страница сайта электронной торговой площадки посредством которой осуществляются торги;
                                    li 
                                        b 2.4. 
                                        | Заявление на участие в аукционе — электронная форма сайта ЭТП, посредством которой участник подает заявку на участие в аукционе;
                                    li 
                                        b 2.5. 
                                        | Начальная цена предмета аукциона — определяемая в соответствии с законодательством цена предмета аукциона, с которой с учетом шага торгов начинается продажа предмета аукциона;
                                    li 
                                        b 2.6. 
                                        | Оператор электронной торговой площадки — Общество с ограниченной ответственностью «ИПМ-Консалт оценка», оказывающее услуги по размещению и проведению аукционов на электронной торговой площадке;
                                    li 
                                        b 2.7. 
                                        | Организатор аукциона — юридическое лицо, которое в соответствии с настоящим Регламентом осуществляет продажу предмета аукциона и организует аукцион с c использованием электронной торговой площадки;
                                    li 
                                        b 2.8. 
                                        | Персональные данные пользователя — сведения или данные, позволяющие идентифицировать пользователя ЭТП;
                                    li 
                                        b 2.9. 
                                        | Предмет аукциона — имущество, в том числе недвижимость, транспорт, спецтехника, оборудование, бизнес, право аренды, дебиторская задолженность, прочее имущество, имущественные права, продаваемые на аукционе;
                                    li 
                                        b 2.10. 
                                        | Победитель аукциона — участник аукциона, предложивший наибольшую цену за предмет аукциона в соответствии с условиями торгов;
                                    li 
                                        b 2.11. 
                                        | Пользователь электронной торговой площадки — посетитель сайта электронной торговой площадки в сети Интернет, организатор и участник аукциона на ЭТП;
                                    li 
                                        b 2.12. 
                                        | Регистрация на электронной торговой площадке — первый этап аккредитации на электронной торговой площадке, заключающийся в создании учетной записи пользователя на сайте электронной торговой площадки;
                                    li 
                                        b 2.13. 
                                        | Регистрация на торги — доступ участников аукциона в аукционную комнату для участия в торгах;
                                    li 
                                        b 2.14. 
                                        | Торги — процесс совершения участниками аукциона ставок с целью определения победителя аукциона;
                                    li 
                                        b 2.15. 
                                        | Ставка — цена, предложенная участником аукциона в ходе торгов, полученная в результате его действий по повышению начальной цены предмета аукциона;
                                    li 
                                        b 2.16. 
                                        | Участник — лицо прошедшее аккредитацию на электронной торговой площадке, подавшее заявление на участие в аукционе, внесшее в установленном порядке на указанный в извещении текущий (расчетный) банковский счет сумму задатка;
                                    li 
                                        b 2.17. 
                                        | Цена продажи — цена предмета аукциона, сформированная по итогам торгов;
                                    li 
                                        b 2.18. 
                                        | Шаг торгов — величина изменения начальной цены предмета аукциона в процессе торгов;
                                    li 
                                        b 2.19. 
                                        | Регистрация на торги — переход участников аукциона на страницу торгов после ознакомления и подтверждения согласия с суммой затрат на проведение аукциона;
                                    li 
                                        b 2.20. 
                                        | Электронная торговая площадка — информационная торговая система, предназначенная для проведения аукционов, доступ к которой осуществляется через сайт в глобальной компьютерной сети Интернет;
                                    li 
                                        b 2.21. 
                                        | Электронные формы — элементы сайта электронной торговой площадки, предназначенные для обмена данными между пользователем и сервером.
                .reglament-menu.js-reglament-menu
                    .reglament-btn__mob
                        button.btn.js-open-reglamentMenu
                            +icon('header-burger')
                    .reglament-download.js-reglament-download(style="background-image: url(./img/svg/reglament-download.svg); background-repeat: no-repeat")
                        .zag Скачать регламент
                        p Для работы на ЭТП ознакомьтесь с Регламентом электронной торговой площадки «Power2Artist» на этой странице или скачайте Реглмент в формате pdf
                        a(href="#" download)
                            +icon('download')
                            span Скачать PDF
                    .reglament-menu__list 
                        ul 
                            li
                                a(href="#1")
                                    b Раздел 1. 
                                    |Область применения регламента
                            li
                                a(href="#2")
                                    b Раздел 2. 
                                    |Термины и определения
                            li
                                a(href="#3")
                                    b Раздел 3. 
                                    |Общие вопросы
                            li
                                a(href="#4")
                                    b Раздел 4. 
                                    |Права и обязанности оператора и пользователей
                            li
                                a(href="#5")
                                    b Раздел 5. 
                                    |Аккредитация на электронной торговой
                            li
                                a(href="#6")
                                    b Раздел 6. 
                                    |Размещение аукционов на ЭТП
                            li
                                a(href="#7")
                                    b Раздел 7. 
                                    |Допуск к участию в аукционе
                            li
                                a(href="#8")
                                    b Раздел 8. 
                                    |Порядок проведения торгов
                            li
                                a(href="#9")
                                    b Раздел 9. 
                                    |Ответственность сторон. Форс-мажор
                            li
                                a(href="#")
                                    .name Приложение 1
                                    span Заявление на аккредитацию пользователя ЭТП (формы 1, 2, 3)
                            li
                                a(href="#")
                                    .name Приложение 2
                                    span Доверенность на представителя пользователя (форма)
                            li
                                a(href="#")
                                    .name Приложение 3
                                    span Соглашение о правах и обязанностях сторон в процессе аукциона

