.main-item.js-main-item
    .main-item-container.js-main-item-container.__registered
        .main-item--close.js-main-item--close
            span.close-icon
        h2.main-item--zag.js-main-item--zag Личный кабинет
        .main-form.js-main-form
            p Личный кабинет — это Ваша уникальная страница. Там Вы можете создавать свои аукционы и заявки. Отслеживать участие в чужих аукционах и много всего другого
            a(href="#").btn.btn-blue Перейти в личный кабинет