.lc-header
    form.filter
        +select('Направление', 'Артист') 
        +select('Категория', 'Маркетинг') 
        +inputDateRange('Дата')
        +select('Статус', 'В обработке') 
        .lc-search 
            input(type="text" placeholder="Поиск заявки")
            .lc-search__icon 
                +icon('search')
        a(href="#").clear-filter Очистить фильтр
.lc-content 
    .lc-table 
        .lc-table__zag Все заявки
        table
            tbody 
                tr.table-head
                    th Название заявки / ФИО или название организации
                    th № заявки
                    th Направление
                    th Категория
                    th Дата заявки
                    th Статус

                tr.processing.red-step
                    td
                        span Аукцион на концерт Beyonce 
                    td
                        span 3654
                    td
                        span Артист
                    td
                        span Маркетинг
                    td
                        span 12.09.2020
                    td.status 
                        +icon('clock')
                        span В обработке
                tr.rejected
                    td
                        span Аукцион на концерт группы «Linkin Park»
                    td
                        span 6589
                    td
                        span На повышение
                    td
                        span Продюсирование
                    td
                        span 12.09.2020
                    td.status 
                        +icon('cancel')
                        span Отклонено
                tr.approved.green-step
                    td
                        span Аукцион на сольный концерт Димы Билана
                    td
                        span 3654
                    td
                        span На повышение
                    td
                        span Интернет
                    td
                        span 12.09.2020
                    td.status  
                        +icon('check')
                        span Одобрено
                tr.yel-step.processing 
                    td
                        span Аукцион на концерт LOBODA
                            span.lc-table__name-label Новое
                    td
                        span 3654
                    td
                        span На повышение
                    td
                        span Маркетинг
                    td
                        span 12.09.2020
                    td.status  
                        +icon('clock')
                        span В обработке
                tr.rejected
                    td
                        span Аукцион на тур группы Three days Grays
                    td
                        span 3654
                    td
                        span На повышение
                    td
                        span Маркетинг
                    td
                        span 12.09.2020
                    td.status 
                        +icon('cancel')
                        span Отклонено